rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /admin/{userId} {
      allow get: if request.auth.uid == userId;
    }

    match /users/{document=**} {
      allow read: if isAdmin();
    }

    match /users/{userId}/{document=**} {
    	allow get, delete: if isUser(userId);
		}

		match /users/{userId} {
    	allow create, update: if isUser(userId);
			match /latest/words {
	      allow create, update: if isUser(userId) && isInDeadline();
			}
      match /radiodata/{document=**} {
      	allow list: if isUser(userId);
				allow create, update: if isAdmin();
      }
		}

    match /radiodata/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /ranking/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    function isUser(uid){
    	return request.auth.uid == uid
		}

    function isInDeadline(){
			return request.time <= getDeadline();
		}

    function getDeadline() {
    	return get(/databases/$(database)/documents/radiodata/latest).data.deadline;
    }

    function isAdmin(){
      return get(/databases/$(database)/documents/admin/$(request.auth.uid)).data.isAdmin;
    }
  }
}